.header {
    background-color: var(--navbar-primary);
    padding: 1.5vh;

}

.header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    list-style: none;
}

.header .navbar ul li a {
    color: var(--foreground);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none ;
    font-size: 1.2em;
    font-weight: bold ;
    position: relative;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .navbar .logo img{
    width: 6em !important;
    height: 6em !important;
    border-radius: 1.87vh;
}

.header .navbar ul li a span::before {
    content: ""; 
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0; 
    height: 2px; 
    background-color: var(--foreground); 
    transition: width 0.3s ease, left 0.3s ease; 
}

.header .navbar ul li a:hover span::before {
    width: 100%; 
    left: 0; 
    transition: width 0.3s ease, left 0.3s ease; 
}